<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>layerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C35BEE51C15AFAC0062B952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C35BEFE1C15AFAC0062B952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C35BF091C15AFAC0062B952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
